.grid {
  display: grid;

  &--calendar {
    grid-template-columns: repeat(7, 1fr);
  }

  &--day {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(24, minmax(30px,1fr));
    border-right: 1px solid black;

    & button:nth-child(2n) {
      background-color: color(primary, lighter);
    }
  }
}