%input-common {
  border-radius: $border-radius;
  border: $input-border-width solid $input-border-color;
  padding: spacing(1);
}

.noscroll {
  overflow: hidden;
}

.position-relative {
  position: relative;
}
