@import './variables/grid';
@import './variables/colors';
@import './variables/typo';
@import './variables/breakpoints';

$grid-gutter:                       40px !default;
$border-radius:                     4px !default;

$input-border-color:                color-gray(500) !default;
$input-border-width:                1px !default;
