$slider-thumb-dimensions: 16px;
$slider-thumb-color: $white;

%input-slider-reset {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  &:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }

  &::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }
}

.audio {
  &__player {
    display: flex;
    justify-content: center;
    gap: spacing(2);
    padding: spacing(2) spacing(4);
    border-bottom: 1px solid #495057;
  }

  &__icon {
    font-size: font-size(xl);
    cursor: pointer;
  }

  &__control__button {
    color: $white;
    padding: 0;
    width: 18px;
    min-width: 18px;

    &--align-start {
      display: flex;
      align-items: flex-start;
    }
  }

  &__song-data {
    display: flex;
    align-items: center;
    gap: spacing();

    .song-info {
      font-size: font-size(sm);
    }
  }

  &__volume {
    display: flex;
    align-items: center;
    gap: spacing(2);
    margin: 0 spacing();
    position: relative;

    &__control {
      @extend %input-slider-reset;

      &::-webkit-slider-thumb {
        cursor: pointer;
        height: $slider-thumb-dimensions;
        width: $slider-thumb-dimensions;
        border-radius: 50%;
        background-color: $slider-thumb-color;
        margin-top: calc($slider-thumb-dimensions / -2);
      }

      &::-webkit-slider-runnable-track {
        width: 100%;
        height: 1px;
        background-color: $slider-thumb-color;
        cursor: pointer;
      }
    }
  }
}