.grid {
  display: grid;

  &--calendar {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, minmax(150px, 1fr));
  }
}

time {
  width: 100%;
  display: inline-block;
}

.date {
  &__container {
    display: flex;
    padding: 0.5rem;
    flex-direction: column;
    border-right: 1px solid red;
    border-bottom: 1px solid red;
  }

  &__header {
    width: 100%;
  }

  &__time {
    display: flex;
    padding-bottom: 0.2rem;
    justify-content: space-between;
    border-bottom: 1px solid aqua;
  }

  &__day-number {
    display: inline-block;
  }

  &__day-name {
    margin-left: auto;
    display: inline-block;
  }
}

.calendar-selector {
  &__container {
    margin: spacing(2) 0;
  }

  &__name {
    padding: 0.5rem;
    border-radius: 15px;
    background-color: color(primary, lighter);
    cursor: pointer;
    transition: background-color 300ms ease-in-out;

    &:hover {
      background-color: color(primary, light);
    }

    .calendar-selector__container input:checked + & {
      background-color: color(primary);
    }
  }
}
