$modal-border-spacing: calc($grid-gutter / 2);

.modal {
  background-color: white;
  padding: calc($grid-gutter/2);
  border-radius: 4px;

  &__overlay {
    position: fixed;
    inset: 0 0 0 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $grid-gutter;
  }

  &__header {
    text-align: start;
  }

  &__title {
    margin-bottom: 8px;
  }

  &__body {
    padding-top: $modal-border-spacing;
    margin-top: $modal-border-spacing;
    border-top: 1px solid rgba(0, 0, 0, 0.7);
  }
}

.calendar {
  .modal {
    @include media-breakpoint-up(lg) {
      border-radius: 0;
      height: 100vh;
      overflow: auto;
      width: 50vw;
      margin-left:auto;

      &__overlay {
        padding: 0;
        align-items: end;
      }
    }
  }
}