.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__list {
    display: flex;
    gap: spacing(2);
  }

  &__icon {
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 300ms ease-out;

    &:hover {
      color: color(primary);
    }
  }
}