.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__list {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-top: 32px;
  }

  .auth {
    display: flex;
    gap: 16px;
  }
}