.dark-bg {
  background-color: $black;
  color: $dark-bg-text-color;

  .button:not(.button--primary),
  a {
    color: $dark-bg-text-color;
  }

  .search-box__icon {
    background-color: $dark-bg-text-color;
    color: $black;
  }

  .post {
    background-color: $dark-bg-text-color;
    color: $black;
  }
}