@font-face {
  font-family: 'Libre Franklin';
  font-weight: 400;
  src: url('@/static/fonts/libre_franklin/static/LibreFranklin-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Libre Franklin';
  font-weight: 700;
  src: url('@/static/fonts/libre_franklin/static/LibreFranklin-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Libre Franklin';
  font-weight: 900;
  src: url('@/static/fonts/libre_franklin/static/LibreFranklin-Black.ttf') format('ttf');
}

@font-face {
  font-family: 'Cardo';
  font-weight: 400;
  src: url('@/static/fonts/cardo/Cardo-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Cardo';
  font-weight: 700;
  src: url('@/static/fonts/cardo/Cardo-Bold.ttf') format('ttf');
}