@font-face {
  font-family: "arvo";
  src: url('@/assets/fonts/arvo/Arvo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "arvo";
  font-weight: 700;
  src: url('@/assets/fonts/arvo/Arvo-Bold.ttf') format('truetype');
}

@font-face {
  font-family: "arvo";
  font-weight: 700;
  font-style: italic;
  src: url('@/assets/fonts/arvo/Arvo-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Cardo';
  src: url('@/assets/fonts/cardo/Cardo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Cardo';
  font-weight: 700;
  src: url('@/assets/fonts/cardo/Cardo-Bold.ttf') format('truetype');
}