body {
  font-family: "Cardo", Arial, Helvetica, sans-serif;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "arvo", Arial, Helvetica, sans-serif;
  font-weight: 700;
}

h1 {
  @include text-default(xxl);
}

h2 {
  @include text-default(xl);
}

h3 {
  @include text-default(lg);
}

p {
  @include text-default(md);
}

.info {
  @include text-default(sm);
}