@import './colors';

$grid-gutter:                       40px !default;
$border-radius:                     4px !default;
$header-max-height:                 48px !default;
$sidebar-max-width:                 300px !default;
$page-margins:                      spacing(2) !default;

$input-border-width:                1px !default;
