$spacings: () !default;
$spacings: map-merge(
  (
    "1": 8px,
    "2": 16px,
    "3": 24px,
    "4": 32px,
    "5": 40px,
    "6": 48px,
    "7": 56px,
    "8": 64px,
    "9": 72px
  ),
  $spacings
);

@function spacing($index) {
  $value: map-get($spacings, #{$index});
  @return $value;
}